<template>
  <v-row class="pt-5">
    <v-card class="mx-auto" width="900">
      <v-card-title>Upload Excel File</v-card-title>
      <v-card-subtitle v-if="currentFile">
        <v-progress-linear
          :value="progress"
          height="25"
          color="indigo darken-3"
        >
          <strong>{{ progress }}%</strong>
        </v-progress-linear>
      </v-card-subtitle>
      <v-card-text>
        <v-form>
          <v-file-input
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            label="File input"
            @change="selectFile"
          >
          </v-file-input>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="primary" @click="upload()">
          Upload
          <v-icon>mdi-upload</v-icon>
        </v-btn>
      </v-card-actions>
      <v-alert v-if="message" color="red" dar>{{ message }}</v-alert>
    </v-card>
  </v-row>
</template>

<script>
export default {
  name: "FileUpload",
  data: () => ({
    currentFile: undefined,
    graphData: undefined,
    message: ""
  }),
  computed: {
    progress: {
      get() {
        return this.$store.state.progress;
      },
      set() {}
    }
  },
  methods: {
    selectFile(file) {
      this.progress = 0;
      this.currentFile = file;
    },
    upload() {
      // maybe re-write with emit event! We will think about it later
      if (!this.currentFile) {
        this.message = "Please select a file";
        return;
      }
      this.message = "";
      this.$store.dispatch("upload", this.currentFile);
    }
    // upload() {
    //   if (!this.currentFile) {
    //     this.message = "Please select a file";
    //     return;
    //   }
    //   this.message = "";
    //   let formData = new FormData();
    //   formData.append("file", this.currentFile);
    //
    //   this.$axios
    //     .post("http://127.0.0.1:8081/upload", formData, {
    //       headers: {
    //         "Content-Type": "multipart/form-data"
    //       },
    //       onUploadProgress: progressEvent =>
    //         (this.progress =
    //           Math.round(100 * progressEvent.loaded) / progressEvent.total)
    //     })
    //     .then(response => {
    //       this.graphData = response.data;
    //     })
    //     .catch(error => {
    //       this.progress = 0;
    //       this.message = error.response;
    //       this.currentFile = undefined;
    //     });
    // },
  }
};
</script>
