<template>
  <v-app>
    <v-app-bar app dark absolute dense>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-app-bar-title>Graph Visualizer</v-app-bar-title>
      <v-spacer></v-spacer>
      <menu-component v-if="this.$store.state.graphData"></menu-component>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app dark>
      <v-list nav dense dark>
        <v-list-item-group v-model="group" dark active-class="indigo darken-4">
          <v-list>
            <v-list-item to="/">
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>

            <v-list-item to="/about">
              <v-list-item-icon>
                <v-icon>mdi-information</v-icon>
              </v-list-item-icon>
              <v-list-item-title>About</v-list-item-title>
            </v-list-item>
            <v-list-item to="/visualizer">
              <v-list-item-icon>
                <v-icon>mdi-graph</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Visualizer</v-list-item-title>
            </v-list-item>
            <v-list-item to="/cluster-graph">
              <v-list-item-icon>
                <v-icon>mdi-graph</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Cluster Graph</v-list-item-title>
            </v-list-item>

            <v-list-group :value="true" prepend-icon="mdi-folder-pound">
              <template v-slot:activator>
                <v-list-item-title>Examples</v-list-item-title>
              </template>
              <v-list-item dark to="/simple-graph" exact>
                <v-list-item-title>Simple Graph</v-list-item-title>
              </v-list-item>
              <v-list-item dark to="/force-layout" exact>
                <v-list-item-title>Force Layout</v-list-item-title>
              </v-list-item>
            </v-list-group>
          </v-list>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import MenuComponent from "@/components/MenuComponent";
export default {
  name: "App",
  components: { MenuComponent },
  data: () => ({
    drawer: false,
    group: null
  }),
  mounted() {}
};
</script>
