<template>
  <v-tabs fixed-tabs background-color="indigo darken-4" dark>
    <v-tab>
      Force Layout
    </v-tab>
    <v-tab>
      Force Layout
    </v-tab>
    <v-tab>
      Force Layout
    </v-tab>
  </v-tabs>
</template>
<script>
export default {
  name: "Example",
  data: () => ({})
};
</script>
