<template>
  <div>
    <v-btn @click="displayGraph" v-if="hideBtn">Display Graph</v-btn>
    <div id="container"></div>
  </div>
</template>

<script>
export default {
  name: "ForceLayoutExample",
  data: () => ({
    fetchedData: undefined,
    hideBtn: true
  }),
  created() {
    this.$axios
      .get(
        "https://gw.alipayobjects.com/os/basement_prod/7bacd7d1-4119-4ac1-8be3-4c4b9bcbc25f.json"
      )
      .then(response => {
        this.fetchedData = response.data;
      });
  },
  methods: {
    displayGraph() {
      this.hideBtn = false;
      const container = document.getElementById("container");
      const width = container.scrollWidth;
      const height = container.scrollHeight || 500;
      const graph = new this.G6.Graph({
        container: "container",
        width,
        height,
        layout: {
          type: "force",
          clustering: true,
          clusterNodeStrength: -5,
          clusterEdgeDistance: 200,
          clusterNodeSize: 20,
          clusterFociStrength: 1.2,
          nodeSpacing: 5,
          preventOverlap: true,
          gpuEnabled: true,
          onLayoutEnd: () => {
            console.log("end");
          }
        },
        defaultNode: {
          size: 15
        },
        modes: {
          default: ["zoom-canvas", "drag-canvas", "drag-node"]
        }
      });

      let colorMap = {
        2012: "#BDD2FD",
        2013: "#BDEFDB",
        2014: "#F6C3B7",
        2015: "#FFD8B8",
        2016: "#D3C6EA"
      };

      graph.data(this.fetchedData);
      this.fetchedData.nodes.forEach(node => {
        node.cluster = node.year;
        node.style = Object.assign(node.style || {}, {
          fill: colorMap[node.year]
        });
      });

      graph.render();

      if (typeof window !== "undefined")
        window.onresize = () => {
          if (!graph || graph.get("destroyed")) return;
          if (!container || !container.scrollWidth || !container.scrollHeight)
            return;
          graph.changeSize(container.scrollWidth, container.scrollHeight);
        };
    }
  }
};
</script>
