<template>
  <div id="mountNode"></div>
</template>

<script>
export default {
  name: "SimpleGraph",
  mounted() {
    const data = {
      // The array of nodes
      nodes: [
        {
          id: "node1", // String, unique and required
          size: 50,
          style: {
            stroke: "black",
            fill: "red"
          },
          x: 100, // Number, the x coordinate
          y: 200 // Number, the y coordinate
        },
        {
          id: "node2", // String, unique and required
          x: 300, // Number, the x coordinate
          size: 50,
          style: {
            stroke: "red",
            fill: "indigo"
          },
          y: 200 // Number, the y coordinate
        },
        {
          id: "node3", // String, unique and required
          size: 35,
          style: {
            stroke: "red",
            fill: "blue"
          },
          x: 500, // Number, the x coordinate
          y: 400 // Number, the y coordinate
        }
      ],
      // The array of edges
      edges: [
        {
          source: "node1", // String, required, the id of the source node
          target: "node2", // String, required, the id of the target node
          color: "red"
        },
        {
          source: "node1",
          target: "node3",
          color: "black"
        },
        {
          source: "node2",
          target: "node3",
          color: "indigo"
        }
      ]
    };

    const graph = new this.G6.Graph({
      container: "mountNode", // String | HTMLElement, required, the id of DOM element or an HTML node
      width: 800, // Number, required, the width of the graph
      height: 500 // Number, required, the height of the graph
    });

    graph.data(data); // Load the data defined in Step 2
    graph.render(); // Render the graph
  }
};
</script>
