<template>
  <div>
    <file-upload v-if="!this.$store.state.graphData"></file-upload>
    <v-btn
      v-if="hideBtn && this.$store.state.graphData"
      color="indigo darken-4"
      dark
      @click="renderGraph()"
      >Render Graph</v-btn
    >
    <v-progress-linear
      indeterminate
      height="40"
      color="indigo darken-4"
      v-if="loading"
    ></v-progress-linear>
    <div id="container"></div>
  </div>
</template>

<script>
import FileUpload from "@/components/FileUpload";
export default {
  name: "Visualizer",
  data: () => ({
    loading: false,
    hideBtn: true,
    progress: 0
  }),
  components: { FileUpload },
  methods: {
    renderGraph() {
      this.hideBtn = false;
      this.loading = true;
      const container = document.getElementById("container");
      const width = container.scrollWidth;
      const height = container.scrollHeight || 500;
      const graph = new this.G6.Graph({
        container: "container",
        width,
        height,
        layout: {
          type: "gForce",
          // workerEnabled: true, // Whether to activate web-worker
          gpuEnabled: true,
          onLayoutEnd: () => {
            console.log("end");
            this.loading = false;
          }
        },
        defaultNode: {
          size: 30,
          labelCfg: {
            style: {
              fontSize: 6
            }
          }
        },
        modes: {
          default: ["zoom-canvas", "drag-canvas", "drag-node"]
        }
      });

      graph.data(this.$store.state.graphData);
      graph.render();

      if (typeof window !== "undefined")
        window.onresize = () => {
          if (!graph || graph.get("destroyed")) return;
          if (!container || !container.scrollWidth || !container.scrollHeight)
            return;
          graph.changeSize(container.scrollWidth, container.scrollHeight);
        };
    }
  }
};
</script>
